

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendar-element {
    position: absolute;
    left: 95%;
    transform: translateX(-50%);
    top: 136px;
    border: 1px solid #ccc;
    z-index: 999;
}

.input-element-date.error {
    border-color: brown;
}

span {
    font-size: 14px;
    color: red;
}

.input-element-date{
    width: 90%;
    margin: 6px;
    border-radius: 5px;
 }